.piece img {
    position: absolute;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
#table {
    border-collapse: collapse;
    border-spacing: 0;
    border: 5px solid black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#table tr{
    position: relative;
    vertical-align: top;
    width: 64px;
    height: 64px;
    border: 1px solid black;
}